@grey_color: #999999;
@main_color: #f7931e;
@border_color:#cccccc;
input,textarea{
    font-size: 28rpx;
    color: #000;
}
.flex-col(@x){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: @x;
}
.flex-row(@x){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: @x;
}

@word_family: 'SimHei';
@num_family:'aigdt';

.my-price{
  color: @main_color;
}

.fz18 {
  font-size: 18rpx;
}
.fz24 {
  font-size: 24rpx;
}

.fz25 {
  font-size: 25rpx;
}

.fz26 {
  font-size: 26rpx;
}

.fz27 {
  font-size: 27rpx;
}

.fz28 {
  font-size: 28rpx;
}

.fz29 {
  font-size: 29rpx;
}

.fz30 {
  font-size: 30rpx;
}

.fz31 {
  font-size: 31rpx;
}

.fz32 {
  font-size: 32rpx;
}

.fz38{
  font-size: 38rpx;
}
